:root {
    --main-color: #e75555;
    --secondary-color: #385a7c;
    --accent-color: #f4df62;
    --main-bg: #e9f5f8;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: var(--main-bg);
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
    color: var(--main-color);
    margin: 15px;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

div {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header__icon {
    width: 50px;
}

.header__text {
    font-family: 'Fredoka One', cursive;
}

.nav__container {
    margin: auto;
}

.nav__list {
    display: flex;
}

.nav__item {
    padding-left: 20px;
}

.main {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main__info {
    width: 40%;
    margin-top: 100px;
    line-height: 30px;
}


.main__btn {
    border-radius: 5px;
    padding: 8px 28px;
    font-size: 20px;
    background-color: var(--main-color);
    margin: 20px 150px;
}

.btn__link {
    color: var(--main-bg);
}

.main__pic {
    width: 525px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

.initiative__portfolio {
    display: flex;
    justify-content: space-around;
}

.project__img {
    width: 200px;
}

.devs {
    display: flex;
}

.devs__pic {
    width: 80px;
}

.kitties__container {
    width: 60%;
    margin: 50px auto;
    background-color: var(--accent-color);
}

.kitties__text {
    padding: 20px;
}